@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 讓圖片自適應容器最大寬度 高度自動 */
img {
  max-width: 100%;
  height: auto;
}

/* 全域設定 border box */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: "Noto Sans TC", sans-serif;
  background: #2E2E2E;
  margin: 0;
  padding: 0;
  color: #F0F0F0;
  line-height: normal;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(240, 240, 240, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}
.wrap .header {
  text-align: center;
  padding: 40px 20px;
  background: #1A1A1A;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.wrap .header h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.wrap .container {
  text-align: center;
  margin: 27px 0;
  padding: 27px;
  background: #333333;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.wrap .container h2 {
  margin: 0 0 25px 0;
  font-size: 24px;
  font-weight: 700;
}
.wrap .container .IP {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  color: #00FF88;
  margin: 0;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
.wrap .container .IP:hover {
  transform: scale(1.1);
}
.wrap .container .copy_hint {
  display: none;
  background-color: #333;
  color: #fff;
  padding: 8px;
  letter-spacing: 3px;
  border-radius: 8px;
  position: absolute;
  z-index: 1000;
  font-size: 16px;
  white-space: nowrap;
  border: 2px solid #FFF;
}
.wrap .container .btn-group {
  display: flex;
  justify-content: space-between;
}
.wrap .container .btn-group .btn {
  flex: 1;
  margin: 0 10px 10px;
  padding: 12px 0;
  font-size: 22px;
  color: #FFF;
  background-color: #294236;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  font-weight: bold;
}
.wrap .container .btn-group .btn.Cloudflare:hover {
  background-color: #F28500;
}
.wrap .container .btn-group .btn.Fast:hover {
  background-color: #E50914;
}
.wrap .container .btn-group .btn.Speedtest:hover {
  background-color: #141526;
}
.wrap .container .btn-group .btn.NTU:hover {
  background-color: #BB9532;
}
.wrap .container .btn-group .btn .icon {
  width: auto;
  height: 1em;
  margin-right: 2px;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.wrap .container .btn-group .btn:hover {
  background-color: #00CC6E;
}
.wrap .container .btn-group .btn:active {
  transform: scale(0.96);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .wrap .container .btn-group {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .wrap .container {
    padding: 20px;
  }
}
@media (max-width: 414px) {
  .wrap .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.wrap .footer {
  text-align: center;
  background: #1A1A1A;
  padding: 20px;
  border-radius: 10px;
  color: #AAAAAA;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.wrap .footer img {
  margin: 0 0 0px;
  width: 200px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
@media (max-width: 767px) {
  .wrap .footer img {
    margin: 10px 0 5px;
  }
}
@media (max-width: 414px) {
  .wrap .footer img {
    margin: 5px 0;
  }
}
.wrap .footer p {
  margin: 0;
}/*# sourceMappingURL=style.css.map */