html, body {
  font-family: "Noto Sans TC", sans-serif;
  background: #2E2E2E;
  margin: 0;
  padding: 0;
  color: #F0F0F0;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(240, 240, 240, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}
.wrap .header {
  text-align: center;
  padding: 40px 20px;
  background: #1A1A1A;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.wrap .header h1 {
  font-size: 48px;
  margin: 0;
}
.wrap .container {
  text-align: center;
  margin: 27px 0;
  padding: 27px;
  background: #333333;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.wrap .container h2 {
  margin: 0 0 25px 0;
}
.wrap .container .IP {
  display: inline-block;
  font-size: 32px;
  color: #00FF88;
  margin: 0;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
.wrap .container .IP:hover {
  transform: scale(1.1);
}
.wrap .container .copy_hint {
  display: none;
  background-color: #333;
  color: #fff;
  padding: 8px;
  letter-spacing: 3px;
  border-radius: 8px;
  position: absolute;
  z-index: 1000;
  font-size: 16px;
  white-space: nowrap;
  border: 2px solid #FFF;
}
.wrap .container .btn-group {
  display: flex;
  justify-content: space-between;
}
.wrap .container .btn-group .btn {
  flex: 1;
  margin: 0 10px 10px;
  padding: 12px 0;
  font-size: 22px;
  color: #FFF;
  background-color: #294236;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  font-weight: bold;
}
.wrap .container .btn-group .btn.Cloudflare:hover {
  background-color: #F28500;
}
.wrap .container .btn-group .btn.Fast:hover {
  background-color: #E50914;
}
.wrap .container .btn-group .btn.Speedtest:hover {
  background-color: #141526;
}
.wrap .container .btn-group .btn.NTU:hover {
  background-color: #BB9532;
}
.wrap .container .btn-group .btn .icon {
  width: auto;
  height: 1em;
  margin-right: 2px;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.wrap .container .btn-group .btn:hover {
  background-color: #00CC6E;
}
.wrap .footer {
  text-align: center;
  background: #1A1A1A;
  padding: 20px;
  border-radius: 10px;
  color: #AAAAAA;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.wrap .footer img {
  margin: 0 0 0px;
  width: 200px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
@media (max-width: 767px) {
  .wrap .footer img {
    margin: 10px 0 5px;
  }
}
@media (max-width: 414px) {
  .wrap .footer img {
    margin: 5px 0;
  }
}
.wrap .footer p {
  margin: 0;
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 36px;
  }
  .container {
    padding: 20px;
  }
  .container h2 {
    font-size: 28px;
  }
  .btn-group {
    flex-direction: column;
  }
  .btn-group .btn {
    margin: 10px 0;
  }
}/*# sourceMappingURL=style.css.map */